/* in the example below */

/* -h1 {
    "h1" is the selector
    "text-align" is the property
    "center" is value of the property
    text-align: center;
    } */

h1 {
    text-align: center;
    color: yellow;
}