/*(CSS Rules)*/

p {
    color:blue;
}

/*(Selector is (p), representing the parapgraph tag in HTML*/
p {
    font-size: 1.4em;
}

/*Declaration which is the key-value pair of a CSS property and its value.*/
      
/*The property is the color piece of this declaration*/

em { 
    color : teal; 
}

/* The Value reside within CSS declaration block, which is a part of the CSS rule / statement. 
CSS allows following types of values : 
Integers and real numbers, Lengths, Percentages, URLs and URIs, Counters, Colors, Strings, Unsupported Values.

