/*(CSS Rules)*/

/* A CSS rule is made up of a selector and a declaration block.
A selector identifies one or more HTML elements to be styled.
The declaration block contains one or more property:value pairs */

/* example 1 */

a {
    background-color: yellow;
}

/* In the example image, the background color of the anchor element will be modified. 
The curly braces should not be omitted. 
The declaration block is wrapped within curly braces and contains the CSS property name along with its associated value. 
The declaration block contains one or more property: value pairs. The example shown in the image uses a style property of “background-color”, and the value of that property is “yellow”. Each declaration in the block must end with a semicolon.*?



/* example 2 */
p {
    color: blue;
}

/*(Selector is (p), representing the parapgraph tag in HTML*/
p {
    font-size: 1.4em;
}

/*Declaration which is the key-value pair of a CSS property and its value.*/

/*The property is the color piece of this declaration*/

em {
    color: teal;
}

/* The Value reside within CSS declaration block, which is a part of the CSS rule / statement. 
CSS allows following types of values : 
Integers and real numbers, Lengths, Percentages, URLs and URIs, Counters, Colors, Strings, Unsupported Values.